body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #33307A;
    color: #2052C7;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

header img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size:  60px;
    color: #ffffff;
}

h2 {
    font-weight: 700;
}

nav {
    width: 100%;
    height: 50px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block: 0;
    height: 100%;
}

nav > ul > li {
    list-style-type: none;
}

li > a {
    color: #2052C7;
    text-decoration: none;
}

section {
    margin: 50px 80px;
    padding: 50px;
    border-radius: 25px;
}

section img {
    max-width: 350px;
}

footer {
    padding: 40px;
}

footer h2 {
    margin: 0;
    text-align: left;
}

nav, section, footer {
    background-color: #D9D9D9;
    text-align: center;
}

address {
    text-align: left;
}